[submodule "gtest"]
	path = gtest
	url = https://github.com/google/googletest.git

[submodule "cln"]
	path = cln
	url = git://www.ginac.de/cln.git

[submodule "ginac"]
	path = ginac
	url = git://www.ginac.de/ginac.git
